@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 25% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 25% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 25% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 81 65% 55%;
    --primary-foreground: 81 65% 15%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 34 100% 63%;
    --accent-foreground: 34 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 81, 65%, 55%;
    --chart-1: 81 65% 55%;
    --chart-2: 34 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 25% 96%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 81 65% 55%;
    --sidebar-primary-foreground: 81 65% 15%;
    --sidebar-accent: 34 100% 63%;
    --sidebar-accent-foreground: 34 100% 15%;
    --sidebar-border: 60 5.9% 90%;
    --sidebar-ring: 81 65% 55%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 81 65% 55%;
    --primary-foreground: 81 65% 15%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 34 100% 63%;
    --accent-foreground: 34 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 81 65% 55%;
    --chart-1: 81 65% 55%;
    --chart-2: 34 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 81 65% 55%;
    --sidebar-primary-foreground: 81 65% 15%;
    --sidebar-accent: 34 100% 63%;
    --sidebar-accent-foreground: 34 100% 15%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 81 65% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
