@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  :root {
    --background: 40 33% 94%;
    --foreground: 20 14% 4%;
    --card: 40 33% 99%;
    --card-foreground: 20 14% 4%;
    --popover: 40 33% 99%;
    --popover-foreground: 20 14% 4%;
    --primary: 150 76% 22%;
    --primary-foreground: 150 76% 98%;
    --secondary: 40 10% 90%;
    --secondary-foreground: 20 14% 4%;
    --muted: 40 10% 90%;
    --muted-foreground: 20 10% 40%;
    --accent: 77 68% 55%;
    --accent-foreground: 77 68% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 85%;
    --input: 40 10% 85%;
    --ring: 150 76% 36%;
    --chart-1: 150 76% 36%;
    --chart-2: 25 95% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 40 33% 94%;
    --sidebar-foreground: 20 14% 4%;
    --sidebar-primary: 150 76% 22%;
    --sidebar-primary-foreground: 150 76% 98%;
    --sidebar-accent: 25 95% 53%;
    --sidebar-accent-foreground: 25 95% 98%;
    --sidebar-border: 40 10% 85%;
    --sidebar-ring: 150 76% 36%;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 40 10% 98%;
    --card: 20 14% 4%;
    --card-foreground: 40 10% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 40 10% 98%;
    --primary: 150 76% 36%;
    --primary-foreground: 150 76% 98%;
    --secondary: 20 10% 15%;
    --secondary-foreground: 40 10% 98%;
    --muted: 20 10% 15%;
    --muted-foreground: 40 10% 60%;
    --accent: 77 68% 55%;
    --accent-foreground: 77 68% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 15%;
    --input: 20 10% 15%;
    --ring: 150 76% 40%;
    --chart-1: 150 76% 36%;
    --chart-2: 25 95% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 20 14% 4%;
    --sidebar-foreground: 40 10% 98%;
    --sidebar-primary: 150 76% 36%;
    --sidebar-primary-foreground: 150 76% 98%;
    --sidebar-accent: 25 95% 53%;
    --sidebar-accent-foreground: 25 95% 98%;
    --sidebar-border: 20 10% 15%;
    --sidebar-ring: 150 76% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
